<nav class="main-nav">
    <div class="branding">
        <a href="/">
            <img src="../images/logo.svg" alt="" />
        </a>
    </div>
    <div class="nav">
        <ul class="nav__links">
            <li class="nav__item">
                { <a href="#" class="nav__link">Portfolio</a>
            </li>
            <li class="nav__item"><a href="/blog" class="nav__link">Blog</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Contact</a> }</li>
        </ul>
    </div>
    <div class="social">
        <a href="#" class="social__link"><i class="fab fa-instagram"></i></a>
        <a href="#" class="social__link"><i class="fab fa-facebook"></i></a>
        <a href="#" class="social__link"><i class="fab fa-linkedin"></i></a>
    </div>
</nav>