<header class="header-btn"><i class="fas fa-bars"></i></header>
<div class="nav-container">
    <nav class="nav">
        <div class="close-btn"><i class="fas fa-times"></i></div>
        <div class="nav__branding">
            <a href="/blog">
                <h1><span class="highlight">this</span>.dev.blog</h1>
                <h1>Bradley Caravana</h1>
            </a>
        </div>
        <div class="divider"></div>
        <ul class="nav__list">
            <li class="nav__list-item">
                <a href="index.html" class="nav__list-link">Home</a>
            </li>
            <li class="nav__list-item">
                <a href="/blog" class="nav__list-link">Blog</a>
            </li>
            <li class="nav__list-item">
                <a href="portfolio.html" class="nav__list-link">Portfolio</a>
            </li>
            <li class="nav__list-item">
                <a href="/contact" class="nav__list-link">Contact</a>
            </li>
            {{#if isAuthenticated}}
            <li class="nav__list-item">
                <a href="/auth/logout" class="btn-red">Sign Out</a>
            </li>
            {{else}}
            <li class="nav__list-item">
                <a href="/auth/google" class="btn-red"><i class="fab fa-google fa-lg"></i> Sign in With Google</a>
            </li>
            {{/if}}
        </ul>
    </nav>
</div>