<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/bd697c6c5e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/style.css">
    <title>this.dev.blog || Post</title>
</head>

<body>
    {{{body}}}
    <script src="/javascript/entry.js" type="module"></script>

</body>

</html>