{{!-- NAV PARTIAL --}}
{{> nav}}
{{!-- HERO PARTIAL --}}
{{> hero}}
{{!-- EDIT POST FORM --}}
<div class="newPostContainer">
    <h1>Edit {{post.header}}</h1>
    <form action="/blog/edit/{{post._id}}?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="header">Header</label>
            <input type="text" class="form-control" name="header">
        </div>
        <div class="form-group">
            <label for="subHeader">Sub Header</label>
            <input type="text" class="form-control" name="subHeader">
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" class="form-control" name="author">
        </div>
        <div class="form-group">
            <label for="thumbnail">Thumbnail</label>
            <input class="form-control" name="thumbnail" type="file" accept="image/*">
        </div>
        <div class="form-group">
            <label for="markdown">Markdown</label>
            <textarea name="markdown" class="form-control" cols="30" rows="10"></textarea>
        </div>
        <button class="btn-dark" type='submit'>Submit</button>
    </form>
</div>
{{!-- FOOTER PARTIAL --}}
{{> footer}}