:root {
  --purple: rgb(149, 0, 168);
  --purpleClear: rgba(148, 0, 168, 0.568);
  --dark: #333;
  --google: rgb(255, 64, 64);
  --bosBlue: #193549;
  --bosYellow: #ffc600;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-family: "Fira Code", sans-serif;
}

body {
  line-height: 1.6;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* GLOBAL STYLES */

.edit-btn,
button.edit-btn {
  text-decoration: none;
  background: none;
  color: #333;
  padding: 0.4em;
  margin-top: 10px;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  font-size: 1.25em;
  cursor: pointer;
  text-align: center;
  border: 1px solid var(--purple);
}

.edit-btn:hover,
button.edit-btn:hover {
  background: var(--purple);
  color: #fff;
}

button.edit-btn {
  background: none;
  border: 1px solid var(--purple);
}

button.edit-btn:hover {
  background: var(--purple);
}

pre {
  background: var(--bosBlue);
  color: #fff;
  height: 100%;
  width: auto;
  border: 3px solid var(--purple);
  display: inline-block;
}

code {
  font-family: "Fira Code iScript";
  height: 100%;
  display: inline-block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 1em;
}

.btn-dark,
button.btn-dark {
  /* background: #333; */
  background: none;
  text-decoration: none;
  color: #fff;
  padding: 0.5em;
  font-size: 1.25em;
  font-style: italic;
  transition: all 0.2s;
  border: 1px solid var(--dark);
}

.btn-dark:hover,
button.btn-dark:hover {
  background: rgba(255, 255, 255, 0.301);
  color: #fff;
  background: var(--dark);
}

.btn-red {
  background: var(--google);
  text-decoration: none;
  color: #fff;
  padding: 0.4em;
  font-size: 0.9em;
  box-shadow: 0px 2px 2px 0px rgba(51, 51, 51, 0.39);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

button.btn-red {
  border: none;
  font-family: "Fira Code iScript";
  font-weight: bold;
}

.btn-red i {
  font-size: 1em;
}

.btn-red:hover {
  background: rgb(255, 117, 117);
  border: none;
}
.italics {
  font-style: italic;
}

.highlight {
  color: var(--purple);
}

.floating-btn {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: var(--purple);
  border-radius: 50%;
  color: #fff;
  font-size: 2em;
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: all 0.2s;
}

.floating-btn:hover {
  background: var(--purpleClear);
}

.header-btn {
  position: fixed;
  top: 10%;
  left: 5%;
  background: var(--purple);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
}

.header-btn i {
  font-size: 2em;
  color: #fff;
}

/* END GLOBAL STYLES */

/* SIDE NAV */

.nav-container {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.384);
  opacity: 0;
  z-index: 1000;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.nav-container.open {
  opacity: 1;
  pointer-events: all;
}

.nav {
  margin: 0;
  padding: 0;
  position: relative;
  background: #fff;
  max-width: 50%;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  padding: 1em;
  border-right: 2px solid var(--purple);
  transition: all 0.3s ease-in-out;
  transform: translateX(-100%);
  z-index: 1000;
}

.nav-container.open .nav {
  transform: translateX(0%);
}

.close-btn {
  color: var(--purple);
  font-size: 1.5em;
  justify-self: end;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.nav__branding {
  text-align: center;
}

.nav__branding a {
  text-decoration: none;
  color: #333;
}

.nav__branding h1 {
  margin: 0;
  font-size: 1em;
}

.divider {
  width: 100%;
  height: 1px;
  background: #bbbbbb;
}

.nav__list {
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  font-size: 0.75em;
}

.nav__list-item {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.nav__list-item .btn-dark {
  font-size: 0.75em;
  background: #333;
  color: #fff;
}

.nav__list-item .btn-dark:hover {
  background: #fff;
  color: #333;
}

.nav__list-item .greeting {
  margin: 0;
  display: inline;
  color: var(--purple);
  font-weight: bold;
}

.nav__list-link {
  text-decoration: none;
  color: #333;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.nav__list-link:hover {
  color: var(--purple);
}

.nav__list-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--purple);
  transition: all 0.2s ease-in-out;
}

.nav__list-link:hover:before {
  width: 100%;
}

/* HERO */
.hero {
  height: 80vh;
  background-image: url("/images/meAtTheDocks.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
}

.hero__container {
  max-width: 80%;
  margin: auto;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.hero__container > * {
  color: #fff;
}

.hero__container h1 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

.hero__container a {
  font-size: 1em;
  font-style: normal;
}

/* About */

.about {
  display: grid;
  max-width: 90%;
  margin: 0 auto;
  text-align: justify;
  gap: 1em;
  /* grid-template-columns: 4fr 12fr 4fr; */
}

.about__header {
  font-size: 1.25em;
  color: var(--purple);
}

.about img {
  width: 100%;
}

.about .tag {
  text-align: center;
}

/* RECENT POSTS */

.recent {
  max-width: 80%;
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 1em auto;
  overflow: hidden;
  gap: 4em;
}

.recent h1 {
  font-size: 1.5em;
  justify-self: start;
  position: relative;
  font-weight: 100;
  letter-spacing: 5px;
}

.recent h1::before {
  content: "";
  height: 5px;
  border-radius: 50px;
  width: 10%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--purple);
  transition: all 0.25s ease-in-out;
}

.recent h1:hover::before {
  width: 100%;
}

.blog-card img {
  width: 100%;
}

.blog-card {
  display: grid;
  max-width: 800px;
  border: 1px solid rgb(207, 207, 207);
  position: relative;
}

.floating-edit-btn {
  position: absolute;
  top: -15px;
  right: 5px;
  background: var(--purple);
  width: 2em;
  height: 2em;
  font-size: 1.5em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.floating-edit-btn:hover {
  background: var(--purpleClear);
}

.blog-card__thumbnail img {
  width: 100%;
  height: 100%;
}

.blog-card__info {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 0.5em;
}

.blog-card__info__header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.blog-card__info__header {
  font-size: 0.75em;
}

.profile-picture {
  width: 40px;
}

.profile-picture img {
  border-radius: 50px;
}

.name-date {
  margin-left: 5px;
}

.blog-card__title a {
  text-decoration: none;
  color: #333;
}

.blog-card__title h3 {
  margin: 0;
  padding: 0;
  font-size: 1.25em;
}

.blog-card__title h3 a:hover {
  color: var(--purple);
}

.blog-card__title h5 {
  margin: 0;
}

.blog-card__preview p {
  margin: 0;
  padding: 0;
  text-align: justify;
  font-size: 0.75em;
}

.divider {
  height: 1px;
  width: 100%;
  background: rgb(207, 207, 207);
}

.blog-card__footer {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.blog-card__footer p {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.blog-card__footer .heart form button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
/* END RECENT POSTS */

/* PORTFOLIO */
.portfolio {
  display: grid;
  max-width: 90%;
  margin: 0 auto;
  overflow: hidden;
  justify-items: center;
  gap: 3em 0;
}

.portfolio h1.portfolio__header {
  justify-self: left;
  font-size: 2em;
  margin: 1em 0 0 0;
}

.portfolio .blog-card {
  background: #333;
  color: #fff;
}

.portfolio .btn-dark {
  font-size: 0.75em;
  font-style: normal;
}

.portfolio .btn-dark:hover {
  background: #fff;
  color: #333;
}
/* END PORTFOLIO */

/* BLOG POST */

header.blog-header {
  max-width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

header.blog-header form {
  display: inline-block;
  height: 100%;
}

header.blog-header .edit-btn {
  display: inline-block;
  font-size: 1em;
  padding: 0.5em;
}

header.blog-header .btn-red {
  font-size: 1em;
  padding: 0.5em;
}

.blog-post {
  display: grid;
  max-width: 90%;
  margin: 0 auto;
  text-align: justify;
}

.blog-post__heading {
  color: var(--purple);
  font-size: 2em;
  text-align: left;
}

.blog-post__sub-header {
  color: var(--purple);
}

.blog-post img {
  width: 100%;
}

/* END BLOG POST */

/* NEW POST FORM */
.newPostContainer {
  display: grid;
  max-width: 90%;
  margin: 0 auto;
}

.newPostContainer form {
  width: 100%;
}

.newPostContainer form label {
  font-size: 1.5em;
}

.newPostContainer form button {
  display: block;
  width: 100%;
  margin-top: 10px;
  color: #333;
}

.newPostContainer form button:hover {
  color: #fff;
}

.form-group {
  display: block;
}

.form-control {
  display: block;
  width: calc(100% - 6px);
  margin: 10px 0 20px 0;
}

.form-control[type="text"],
.form-control[type="email"] {
  height: 3em;
  font-size: 1em;
}
/* END NEW POST FORM */

/* CONTACT */

section.contact {
  display: grid;
  gap: 2em 0;
  max-width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.contact__header {
  font-size: 1.5em;
  margin: 1.25em 0 0 0;
}

section.contact label {
  font-size: 1.5em;
}

section.contact button {
  display: block;
  width: 100%;
  color: #333;
}

section.contact button:hover {
  color: #fff;
}

/* END CONTACT */

/* Footer */
.footer {
  height: 50px;
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
  padding: 1em;
  font-size: 0.75em;
}

/* LOGIN PAGE */
.login-container {
  max-width: 80%;
  margin: 0 auto;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

.login-card {
  width: 100%;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.267);
  box-shadow: 0px 2px 2px 0px rgba(51, 51, 51, 0.39);
}

.login-card__title {
  text-align: center;
}

.login-card__title h1 {
  font-size: 1em;
}

.login-card__body {
  padding: 1em;
}

.login-card__body h2 {
  text-align: center;
}

.login-card__form {
  width: 100%;
}

.login-card__form .form-control {
  display: block;
  width: calc(100% - 6px);
  height: 32px;
  font-size: 1.25em;
  margin: 5px 0 0 0;
}

.login-card__form .form-group:first-child .form-control {
  margin: 5px 0px 5px 0px;
}

.login-card__form .btn__light {
  border: 1px solid #333;
  background: #fff;
  color: #333;
  display: block;
  width: 100%;
  margin: 10px 0 0px 0;
  height: 2.5em;
  cursor: pointer;
  font-size: 1em;
  padding: 0;
  transition: all 0.2s;
  text-transform: uppercase;
  font-weight: bold;
}

.login-card__form .btn__light:hover {
  color: #fff;
  background: rgba(51, 51, 51, 0.671);
  border: 1px solid #fff;
}

.login-card__signup {
  padding: 1em;
}

.login-card__signup p {
  margin-bottom: 0;
}
/* END LOGIN PAGE */

/* MEDIA QUERIES */
@media (min-width: 1000px) {
  /* GLOBAL STYLES */
  .floating-btn {
    width: 76px;
    height: 76px;
    font-size: 2.5em;
  }

  /* LOGIN PAGE */

  .login-container {
    max-width: 20%;
  }

  /* Navigation */
  .nav {
    max-width: 20%;
    padding: 3em;
  }

  .nav__branding h1 {
    font-size: 1.75em;
  }

  .nav__list-item a {
    font-size: 1.25em;
  }

  .close-btn {
    font-size: 2.5em;
  }

  .header-btn {
    width: 76px;
    height: 76px;
    font-size: 1.5em;
  }

  .nav__list-item .btn-dark {
    font-size: 1em;
  }

  /* END NAVIGATION */

  /* HERO */
  .hero__container h1 {
    font-size: 3em;
  }
  /* END HERO */

  /* ABOUT */

  .about {
    max-width: 40%;
  }

  .about .tag img {
    width: 50%;
  }

  /* END ABOUT */

  /* PORTFOLIO */

  .portfolio {
    max-width: 70%;
  }

  .portfolio .blog-card {
    max-width: 80%;
  }

  .portfolio h1.portfolio__header {
    font-size: 3em;
  }

  .portfolio .blog-card h5 {
    font-size: 1em;
  }

  .portfolio .btn-dark {
    font-size: 1em;
  }

  /* END PORTFOLIO */

  /* CONTACT */

  section.contact {
    display: grid;
    gap: 2em 0;
    max-width: 60%;
    margin: 0 auto;
    overflow: hidden;
  }

  .contact__header {
    font-size: 2em;
    margin: 1.25em 0 0 0;
  }

  /* END CONTACT */

  /* BLOG CARD */
  .blog-card {
    grid-template-columns: repeat(2, 1fr);
    max-width: 70%;
  }

  .blog-card__title h3 {
    font-size: 1.5em;
  }

  .blog-card__preview {
    font-size: 1.25em;
  }
  /* END BLOG CARD */

  /* RECENT POSTS */
  .recent h1.recent__header {
    font-size: 2.5em;
  }
  /* END RECENT POSTS */

  /* NEW POST FORM */
  .newPostContainer {
    max-width: 60%;
  }
  /* END NEW POST FORM */

  /* Single Blog Post */

  header.blog-header {
    max-width: 45%;
    margin: 0 auto;
  }

  .blog-post {
    max-width: 40%;
    margin: 0 auto;
    padding: 0 5em;
  }

  .blog-post > * {
    justify-content: center;
  }

  .blog-post img {
    width: 100%;
    margin: 2em 0;
    text-align: center;
  }
}
