:root {
  --purple: rgb(149, 0, 168);
  --purpleClear: rgba(148, 0, 168, 0.253);
  --dark: #333;
  --google: rgb(255, 64, 64);
}

html {
  box-sizing: border-box;
  height: 100%;
  font-family: "Fira Code iScript";
}

body {
  line-height: 1.6;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* GLOBAL STYLES */
.italics {
  font-style: italic;
}

.highlight {
  color: var(--purple);
}

.floating-btn {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: var(--purple);
  border-radius: 50%;
  color: #fff;
  font-size: 40px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: all 0.2s;
}

.floating-btn:hover {
  background: var(--purpleClear);
}

.header-btn {
  position: fixed;
  top: 10%;
  left: 5%;
  background: var(--purple);
  width: 76px;
  height: 76px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header-btn i {
  font-size: 3em;
  color: #fff;
}

/* END GLOBAL STYLES */

/* SIDE NAV */

.nav-container {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.384);
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.nav-container.open {
  opacity: 1;
  pointer-events: all;
  z-index: 100;
}

.nav {
  margin: 0;
  padding: 0;
  position: relative;
  background: #fff;
  max-width: 20%;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  padding: 1em;
  border-right: 2px solid var(--purple);
  transition: all 0.3s ease-in-out;
  transform: translateX(-100%);
}

.nav-container.open .nav {
  transform: translateX(0%);
}

.close-btn {
  color: var(--purple);
  font-size: 2em;
  justify-self: end;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.nav__branding {
  text-align: center;
}

.nav__branding a {
  text-decoration: none;
  color: #333;
}

.nav__branding h1 {
  margin: 0;
}

.divider {
  width: 100%;
  height: 1px;
  background: #bbbbbb;
}

.nav__list {
  list-style: none;
  padding: 0;
  margin-left: 1.6em;
  text-transform: uppercase;
}

.nav__list-item {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.nav__list-link {
  text-decoration: none;
  color: #333;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.nav__list-link:hover {
  color: var(--purple);
}

.nav__list-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--purple);
  transition: all 0.2s ease-in-out;
}

.nav__list-link:hover:before {
  width: 100%;
}

.btn-red {
  background: var(--google);
  text-decoration: none;
  color: #fff;
  padding: 0.4em;
  font-size: 0.9em;
  box-shadow: 0px 2px 2px 0px rgba(51, 51, 51, 0.39);
  transition: all 0.2s ease-in-out;
}

.btn-red i {
  font-size: 1em;
}

.btn-red:hover {
  background: rgb(255, 117, 117);
  border: none;
}

/* HERO */
.hero {
  height: 100vh;
  background-image: url("../images/meAtTheDocks.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
}

.hero__container {
  max-width: 80%;
  margin: auto;
  overflow: hidden;
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 1fr;
  justify-items: start;
  align-items: start;
  grid-gap: 10px;
}

.hero__container > * {
  color: #fff;
  padding: 0.25em;
}

.hero__container h1 {
  align-self: end;
  margin: 0;
  padding: 0;
}

.btn-dark {
  background: #333;
  text-decoration: none;
  color: #fff;
  padding: 0.5em;
  font-size: 1.25em;
  font-style: italic;
  font-weight: bold;
  transition: all 0.2s;
}

.btn-dark:hover {
  background: rgba(255, 255, 255, 0.301);
  font-weight: bold;
  color: var(--dark);
}

/* About */

.about {
  display: grid;
  max-width: 150ch;
  margin: 0 auto;
  grid-template-columns: 4fr 12fr 4fr;
}

.about__header {
  grid-column: 1 / span 3;
  text-align: center;
  font-weight: 500;
  letter-spacing: 2px;
}

.about__header ~ p {
  grid-column: 2 / span 1;
  text-align: justify;
}

.about p:last-child {
  font-size: 1.25em;
}

.tag img {
  width: 100%;
}

.tag {
  grid-column: 2 / -2;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.tag p {
  margin: 0;
}

/* RECENT POSTS */

.recent {
  max-width: 80%;
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 1em auto;
  overflow: hidden;
  gap: 4em;
}

.recent h1 {
  font-size: 2em;
  justify-self: start;
  position: relative;
  font-weight: 100;
  letter-spacing: 5px;
}

.recent h1::before {
  content: "";
  height: 5px;
  border-radius: 50px;
  width: 10%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--purple);
  transition: all 0.25s ease-in-out;
}

.recent h1:hover::before {
  width: 100%;
}

.blog-card img {
  width: 100%;
}

.blog-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 800px;
  border: 1px solid rgb(207, 207, 207);
}

.blog-card__thumbnail img {
  width: 100%;
  height: 100%;
}

.blog-card__info {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.blog-card__info__header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.blog-card__info__header {
  font-size: 0.75em;
}

.profile-picture {
  width: 40px;
}

.profile-picture img {
  border-radius: 50px;
}

.name-date {
  margin-left: 5px;
}

.options .circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-bottom: 2px;
  background: #333;
}

.blog-card__title a {
  text-decoration: none;
  color: #333;
}

.blog-card__title h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

.blog-card__title h3 a:hover {
  color: var(--purple);
}

.blog-card__title h5 {
  margin: 0;
}

.blog-card__preview p {
  margin: 0;
  padding: 0;
  text-align: justify;
}

.divider {
  height: 1px;
  width: 100%;
  background: rgb(207, 207, 207);
}

.blog-card__footer {
  display: grid;
  grid-template-columns: repeat(3, auto);
}
/* END RECENT POSTS */

/* BLOG POST */
.blog-post {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  max-width: 130ch;
  margin: 0 auto;
  overflow: hidden;
  gap: 0 2.5em;
}

.blog-post .header h1 {
  font-size: 2.5em;
  position: relative;
}

.blog-post .header h1:before {
  content: "";
  position: absolute;
  width: 35%;
  height: 5px;
  background: var(--purple);
  transition: all 0.2s ease-in-out;
  bottom: 0;
  left: 0;
}

.blog-post .header h1:hover:before {
  width: 100%;
}

.blog-post .subHeader {
  font-size: 1.75em;
  margin: 10px 0;
  color: var(--purple);
}

.blog-post > * {
  grid-column: 2 / span 1;
}

.blog-post p {
  line-height: 2;
}

.blog-post .blog-tag {
  width: 100%;
}

.blog-post .blog-tag__right {
  grid-column: 3 / span 1;
  grid-row: 2 / span 2;
}

.blog-post .blog-tag__left {
  grid-column: 1 / span 1;
  grid-row: 3 / span 2;
}

.blog-post .blog-tag img {
  width: 100%;
}
/* END BLOG POST */

/* NEW POST FORM */
.newPostContainer {
  display: grid;
  max-width: 80ch;
  margin: 0 auto;
  justify-items: center;
  padding: 1em;
}

.newPostContainer form {
  width: 100%;
}

.newPostContainer form label {
  font-size: 1.5em;
}

.newPostContainer form button {
  display: block;
  width: 100%;
  border: none;
  margin-top: 10px;
  font-family: "Fira Code iScript";
  font-style: italic;
}

.form-group {
  display: block;
}

.form-control {
  display: block;
  width: calc(100% - 6px);
  margin-top: 10px;
}

.form-control[type="text"] {
  height: 3em;
  font-size: 1em;
}
/* END NEW POST FORM */

/* Footer */
.footer {
  height: 50px;
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
  padding: 1em;
}

@media (max-width: 700px) {
  .hero {
    background-position: top right;
  }

  .hero__container h1 {
    width: 70%;
    padding-left: 0.5em;
    background: var(--purpleClear);
    color: #fff;
    font-size: 1em;
  }

  .hero__container .btn {
    font-size: 1.2em;
  }

  .about {
    grid-template-columns: 1fr;
    padding: 1.5em;
    margin: 0 auto;
  }

  .about p {
    grid-column: 1;
  }

  .blog-card {
    grid-template-columns: 1fr;
    width: 80%;
  }

  .blog-card__info {
    grid-gap: 10px;
  }

  .blog-card__title h3 {
    font-size: 1em;
  }

  .blog-card__preview p {
    font-size: 0.75em;
  }

  .blog-card__footer cite,
  .heart {
    font-size: 0.75em;
  }

  .close-btn {
    font-size: 1.5em;
    right: 10px;
  }

  .header-btn {
    width: 50px;
    height: 50px;
    bottom: 0;
    right: 5%;
  }

  .header-btn i {
    font-size: 2em;
  }

  .nav {
    max-width: 50%;
  }

  .nav__branding h1 {
    font-size: 1em;
  }

  .nav__list {
    margin-left: 10px;
  }

  .nav__list-item {
    font-size: 1em;
  }
}
